.button {
  border-radius: 5px;
  cursor: pointer;
  &__inline {
    display: inline;
    padding: 0.5rem 1rem;
    font-weight: 400;
    font-size: $default-font-size;
    color: $color-black;
  }
  &__block {
    width: 100%;
    padding: 0.5rem 2rem;
    font-weight: 400;
    font-size: $default-font-size * 1.1;
  }

  &--text {
    color: $color-primary-light;
    font-size: $default-font-size * 1.1;
    padding: 0rem 1rem;
  }
  &--primary {
    text-align: center;
    background-color: $color-primary-dark;
  }
  &--grey {
    background-color: $color-grey-light-2;
  }
  &__label {
    background-color: $color-primary-light;
    color: $color-primary-dark;
    border-radius: 50%;
    font-weight: 300;
  }
  &__icon {
    position: relative;
    border-radius: 100%;
    width: 5rem;
    height: 5rem;
    & > a {
      @include absCenter;
    }
  }
  &__pill {
    background-color: rgba($color-primary-light, 0.5);
    color: $color-primary-dark;
    width: 100%;
    padding: 0.5rem 2rem;
    border-radius: 32px;
    font-size: $default-font-size * 1.1;
    > a:link, >:visited{
      color: $color-primary-dark;
    }
   
  }
}
