.card {
  height: 10rem;
  width: 20rem;
  background-color: $color-white;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  
  &__pannel {
    display: flex;
    flex-direction: row;
  }
  &__icon {
    height: 3rem;
    width: 3rem;
  }
  &__title {
    font-size: 3rem;
    font-weight: 400;
  }
  &__button {
    width: 100%;
  }
}
