.form {
  &__selector{
    display: block;
    background-color: $color-grey-light-2;
  }
  &__title {
    font-size: $default-font-size;
    color: $color-grey-dark-3;
  }
  &__hint-text {
    align-items: center;
    font-size: $default-font-size * 0.95;
    color: $color-grey-dark-2;
    &--dark{
      color: $color-grey-dark-3;
    }
  }
  &__hint-text-icon{
    width: 2rem;
    height: 2rem;
    display: inline-block;
    > img{
      width: 100%;
    }
  }
  &  .button__pill{
    font-size: $default-font-size *0.9;
    padding: 0.1rem 1rem;
  }
  &__card-container{
    width: 100%;
  }
  &__container {
    display: flex;
    flex: content;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  &__input {
    display: block;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 1rem 2rem;
    background-color: $color-grey-light-2;
    font-size: $default-font-size * 3;
  }
  &__button {
    font-size: $default-font-size * 1.2;
    display: block;
  }
}
