.pannel {
 width: 100%;
  background-color: $color-white;
  border-radius: 10px;

  &--main {
    padding: 3.5rem;
    margin-bottom: 2rem;
  }

  &--sub {
    padding: 3.5rem;
  }

  @media (min-width: 48rem) {
    &--main {
      padding: 3.5rem 8rem;
      min-height: 65rem;
      width: 582px;
      margin-left: 2rem;
      margin-bottom: 0rem;
    }

    &--sub {
      width: 298px;
      height: 60rem;
    }
  }
}
