.header {
  background-color: $color-white;
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 8rem;
  position: relative;
  &__logo-box {
    min-width: 14rem;
    max-width: 16rem;
    margin-right: 1rem;
  }
  &__logo {
    width: 100%;
  }
  &__link {
    min-width: 12rem;
    margin-right: 2rem;
  }

  @include respond(small-desktop) {
    #login-status:checked ~ * &__logo-box + &__link {
      display: none;
    }
  }
  @include respond(tab-port) {
    &__logo-box + &__link {
      display: none;
    }
  }
  &__button {
    max-width: 20rem;
    min-width: 16rem;
    text-align: center;
    a:link,
    :visited {
      color: $color-black;
    }
  }
  &__user {
    display: none;
    position: relative;
    margin-right: 2rem;
    min-width: 18rem;
  }
  &__user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 300;
    line-height: 1.1;
    font-size: $default-font-size;
    background-color: $color-grey-light-2;
    height: 5rem;
    padding: 0 2rem;
    border-radius: 5px;
  }
  &__user-address {
    position: relative;
    display: flex;
    flex-direction: row;
    &--icon {
      width: 2rem;
      position: absolute;
      top: -4px;
      left: 0;
      > img {
        width: 100%;
      }
    }
    &--path {
      padding-left: 2.5rem;
    }
  }
  &__user-network {
    display: inline-block;
  }
  #login-status:checked ~ & &__user {
    display: flex;
  }

  @include respond(small-desktop) {
    justify-content: space-between;
    &__button {
      display: none;
    }
  }

  @include respond(phone) {
    &__button {
      display: none;
    }
  }
}
