.header{
    background-color: $color-white;
    padding: 2rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__logo-box{
        width: 16rem;
        margin-right: 2rem;
    }
    &__logo{
        width: 100%;
    }
    &__button{
        width: 20rem;
        text-align: center;
         a:link, :visited{
            color: $color-black;
          }
    }
}