.navigation {
  &__navbar {
    display: flex;
  }
  &__list {
    display: flex;
    align-items: center;
  }
  &__item {
    position: relative;
  }
  &__item:hover .dropdown__button {
    // background-color: $color-grey-light-2;
    color: $color-primary-dark;
  }

  & .dropdown__menu {
    left: 1rem;
    bottom: 70px;
  }
}
